/**
 * CONTROLS
 */

/* Default styles */
 input[type="submit"],
 input[type="reset"],
 input[type="button"],
 button {
   position: absolute;
   width: $ft-control-default-size;
   height: $ft-control-default-size;
   border-radius: 50%;
   background: $slate-grey;
   border: 5px solid white;
 }

 .ft-control-info {
   position: absolute;
 }

.ft-control-start {
  bottom: $ft-control-start-bottom;
  right: $ft-control-start-right;
  width: $ft-control-start-size;
  height: $ft-control-start-size;
  background: $ft-control-start;
}

.ft-control-adjust-length-count {
  bottom: $ft-control-start-bottom - 5.5rem;
  right: $ft-control-start-right + 0.8rem;
  font-size: 2rem;
}

.ft-control-adjust-length {
  bottom: $ft-control-adjust-length-bottom;
  right: $ft-control-adjust-length-right;
  opacity: 0.5;
  background: $ft-control-adjust-length
}

.ft-control-sets {
  background: $ft-control-sets;
}

.ft-control-sets-plus {
  bottom: $ft-control-sets-plus-bottom;
  right: $ft-control-sets-plus-right;
}

.ft-control-sets-minus {
  bottom: $ft-control-sets-minus-bottom;
  right: $ft-control-sets-minus-right;
}

.ft-control-sets-count {
  width: $ft-control-default-size;
  height: $ft-control-default-size;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  bottom: $ft-control-sets-count-bottom;
  right: $ft-control-sets-count-right;
  background: $slate-grey;
  border-radius: 50%;
  border: 5px solid white;
  text-align: center;
  line-height: 2.5rem;
}

.ft-control-reset {
  background: $ft-control-reset;
  bottom: $ft-control-reset-bottom;
  right: $ft-control-reset-right;
}

@media (min-width: 250px) and (orientation: portrait) {

  .ft-control-adjust-length, .ft-control-sets-plus, .ft-control-sets-minus,
  .ft-control-reset, .ft-control-sets-count {
    width: $ft-control-default-size * 1.3;
    height: $ft-control-default-size * 1.3;
  }

  .ft-control-start {
    bottom: $ft-control-start-bottom * 1.3;
    right: $ft-control-start-right * 1.3;
    width: $ft-control-start-size * 1.3;
    height: $ft-control-start-size * 1.3;
  }

  .ft-control-adjust-length {
    bottom: $ft-control-adjust-length-bottom * 1.3;
    right: $ft-control-adjust-length-right * 1.3;

  }

  .ft-control-adjust-length-count {
    bottom: $ft-control-start-bottom - 4.5rem;
    right: $ft-control-start-right + 2.7rem;
    font-size: 2.5rem;
  }

  .ft-control-sets-plus {
    bottom: $ft-control-sets-plus-bottom * 1.3;
    right: $ft-control-sets-plus-right * 1.3;
  }

  .ft-control-sets-minus {
    bottom: $ft-control-sets-minus-bottom * 1.3;
    right: $ft-control-sets-minus-right * 1.3;
  }

  .ft-control-sets-count {
    font-size: 1.8rem;
    bottom: $ft-control-sets-count-bottom * 1.3;
    right: $ft-control-sets-count-right * 1.3;
    line-height: 3.8rem;
  }
}
