/**
 * GENERAL COLOURS
 */

$slate-grey: #26292C;



/**
 * CONTROL BUTTON COLOURS
 */

$control-start: #8bc34a;

$control-adjust-length: #085390;



/**
 * CONTROL BUTTON SIZE & POSITION
 */

$ft-controls-default-size: 45px;

$ft-controls-start-size: 75px;

$ft-controls-start-bottom: 7rem;
$ft-controls-start-right: 6rem;

$ft-controls-adjust-length-bottom: 9rem;
$ft-controls-adjust-length-right: 8.8rem;
