/**
 * TODO:
 *   None
 */

/**
 * CONTROLS
 */

.ft-svg-controls {
  // position: relative;
}

/* Default button styles */
.ft-control  {
 position: absolute;
 width: $ft-control-default-size;
 height: $ft-control-default-size;
 border-radius: 50%;
 // background: $slate-grey;
 border: $ft-control-default-border-size solid white;
 // border: none;
 background: none;
 outline: none;
//  box-shadow: 0px 0px 0px 6px yellow;
}
  
.ft-control:focus {
  border: $ft-control-default-border-size solid yellow;
}

.ft-control::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: ($ft-control-default-size * -1) 0 0 ($ft-control-default-size * -1);
  width: $ft-control-default-size * 2;
  height: $ft-control-default-size * 2;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

.ft-control-start.ft-control::after {
  margin: ($ft-control-start-size * -1) 0 0 ($ft-control-start-size * -1);
  width: $ft-control-start-size * 2;
  height: $ft-control-start-size * 2;
}

.ft-control-text {
	opacity: 0;
	pointer-events: none;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.ft-control-icon {
  position: absolute;
  top: 30%; // (50% - 40% / 2)
  left: 30%;
  fill: white;
  stroke: white;
  width: 40%;
  height: 40%;
  // margin-top: 0%;
  pointer-events: none;
}

.ft-control-reset .ft-control-icon {
  top: 15%; // (50% - (40% / 2))
  left: 15%;
  fill: none;
  stroke-width:13;
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke: white;
  width: 70%;
  height: 70%;
}

// http://tympanus.net/codrops/2015/02/11/subtle-click-feedback-effects/
/* Radomir */
.ft-control--effect-radomir::after {
	box-shadow: inset 0 0 0 $ft-control-default-size rgba(255,255,0,0);
}

.ft-control-start.ft-control--effect-radomir::after {
	box-shadow: inset 0 0 0 $ft-control-start-size rgba(255,255,0,0);
}

.ft-control--effect-radomir.ft-control--click::after {
	-webkit-animation: anim-effect-radomir 0.3s ease-out forwards;
	animation: anim-effect-radomir 0.3s ease-out forwards;
}

@-webkit-keyframes anim-effect-radomir {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.4, 0.4, 1);
		transform: scale3d(0.4, 0.4, 1);
	}
	80% {
		box-shadow: inset 0 0 0 2px rgba(255,255,0,0.8);
		opacity: 0.1;
	}
	100% {
		box-shadow: inset 0 0 0 2px rgba(255,255,0,0.8);
		opacity: 0;
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes anim-effect-radomir {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.4, 0.4, 1);
		transform: scale3d(0.4, 0.4, 1);
	}
	80% {
		box-shadow: inset 0 0 0 2px rgba(255,255,0,0.8);
		opacity: 0.1;
	}
	100% {
		box-shadow: inset 0 0 0 2px rgba(255,255,0,0.8);
		opacity: 0;
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
}

.ft-control-hide {
  display: none;
}







// Default info text styles to stop text being selected or blocking buttons.
.ft-control-info {
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

// Start button
.ft-control-start {
  bottom: $ft-control-start-bottom;
  right: $ft-control-start-right;
  width: $ft-control-start-size;
  height: $ft-control-start-size;
  background: $ft-control-colour-start;
}

// Text showing fartlet length
.ft-control-adjust-length-count {
  width: $ft-control-start-size;
  text-align: center;
  bottom: $ft-control-start-bottom - 4.3rem;
  right: $ft-control-start-right;
  font-size: 2rem;
  color: lighten($ft-control-colour-start, 10%);
}

// Drag button to set fartlet length
// Opacity set to help see where sits on line of play button
.ft-control-adjust-length {
  bottom: $ft-control-adjust-length-bottom;
  right: $ft-control-adjust-length-right;
  // opacity: 0.5;
  background: $ft-control-colour-adjust-length;
}



.ft-control-sets {
  background: $ft-control-colour-sets;
}

.ft-control-sets-plus {
  bottom: $ft-control-sets-plus-bottom;
  right: $ft-control-sets-plus-right;
}

.ft-control-sets-minus {
  bottom: $ft-control-sets-minus-bottom;
  right: $ft-control-sets-minus-right;
}


// Sets text
.ft-control-sets-count {
  width: $ft-control-default-size;
  height: $ft-control-default-size;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  bottom: $ft-control-sets-count-bottom;
  right: $ft-control-sets-count-right;
  // background: #555;
  border-radius: 50%;
  // border: 5px solid #555;
  text-align: center;
  line-height: 2.5rem;
  color: lighten($ft-control-colour-sets, 10%);
}

.ft-control-reset {
  background: $ft-control-colour-reset;
  bottom: $ft-control-reset-bottom;
  right: $ft-control-reset-right;
}
















@media (min-width: 250px) and (orientation: portrait) {

  .ft-control-adjust-length, .ft-control-sets-plus, .ft-control-sets-minus,
  .ft-control-reset, .ft-control-sets-count {
    width: $ft-control-default-size * $ft-control-scale-a;
    height: $ft-control-default-size * $ft-control-scale-a;
  }

  .ft-control-start {
    bottom: $ft-control-start-bottom * ($ft-control-scale-a - 0.1);
    right: $ft-control-start-right * $ft-control-scale-a;
    width: $ft-control-start-size * $ft-control-scale-a;
    height: $ft-control-start-size * $ft-control-scale-a;
  }


  .ft-control-adjust-length {
    bottom: $ft-control-adjust-length-bottom * ($ft-control-scale-a - 0.05);
    right: $ft-control-adjust-length-right * ($ft-control-scale-a - 0.03);
  }


  .ft-control-adjust-length-count {
    bottom: $ft-control-start-bottom - 4.1rem;
    right: $ft-control-start-right + 2.5rem;
    font-size: 2.5rem;
  }

  .ft-control-sets-plus {
    bottom: $ft-control-sets-plus-bottom * $ft-control-scale-a;
    right: $ft-control-sets-plus-right * $ft-control-scale-a;
  }

  .ft-control-sets-minus {
    bottom: $ft-control-sets-minus-bottom * ($ft-control-scale-a - 0.05);
    right: $ft-control-sets-minus-right * $ft-control-scale-a;
  }

  .ft-control-sets-count {
    font-size: 1.8rem;
    bottom: ($ft-control-sets-count-bottom - 0.1) * $ft-control-scale-a;
    right: $ft-control-sets-count-right * $ft-control-scale-a;
    line-height: 3rem;
  }

  .ft-control-reset {
    right: $ft-control-reset-right * 1.25;
  }


}
















@media (orientation: landscape) {

  .ft-control-adjust-length, .ft-control-sets-plus, .ft-control-sets-minus,
  .ft-control-reset {
    width: $ft-control-default-size * $ft-control-scale-a;
    height: $ft-control-default-size * $ft-control-scale-a;
  }

  .ft-control-start {
    bottom: $ft-control-start-landscape-bottom;
    right: $ft-control-start-landscape-right;
    width: $ft-control-start-size * $ft-control-scale-a;
    height: $ft-control-start-size * $ft-control-scale-a;
  }


  .ft-control-adjust-length {
    bottom: $ft-control-adjust-length-landscape-bottom * 1.05;
    right: $ft-control-adjust-length-landscape-right * 1.05;
  }


  .ft-control-adjust-length-count {
    bottom: $ft-control-adjust-length-count-landscape-bottom;
    right: $ft-control-adjust-length-count-landscape-right - 0.4rem;
    font-size: 2.5rem;
  }

  .ft-control-sets-plus {
    bottom: $ft-control-sets-plus-landscape-bottom;
    left: $ft-control-sets-plus-landscape-left;
  }

  .ft-control-sets-minus {
    bottom: $ft-control-sets-minus-landscape-bottom;
    left: $ft-control-sets-minus-landscape-left;
  }

  .ft-control-sets-count {
    font-size: 1.5rem;
    bottom: $ft-control-sets-count-landscape-bottom;
    left: $ft-control-sets-count-landscape-left;
    line-height: 2.9rem;
  }

  .ft-control-reset {
    left: 1rem;
  }


}
